# ==========================================
# Unity standard
# ==========================================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]etting[Ss]/
/[Mm]emoryCaptures/
/ProjectSettings/ProjectVersion.txt
/.vs/
/.idea/

# ==========================================
# Visual Studio / IDES
# ==========================================
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb
/*.VC.db
/*.slnx
JVS_Prototype.slnx

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Assets volumineux (remplace Git LFS)
# ==========================================
# Textures & Images
*.tga
*.psd
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.exr
*.hdr

# Modèles 3D
*.fbx
*.obj
*.blend
*.max
*.c4d

# Audio & Vidéo
*.mp3
*.wav
*.ogg
*.mp4
*.mov

# Archives & Builds
*.zip
*.rar
*.7z